/*			NEXO-CMS			*/
/*		Default CSS Style		*/

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Arial';
	background: url('../images/background.jpg') no-repeat center top rgba(34, 34, 34, 1);
}

* {
	outline: none;
}

img {
	border: none;
}

p {
	padding: 0;
	margin: 0;
}

a {
	color: #aaaaaa;
	text-decoration: none;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

a:hover {
	color: #f5b50c;
}

input[type="text"] {
	width: 93%;
	padding: 5px;
	background: #403933;
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: #757575;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
input[type="text"]:focus {
	color: #b5b3b4;
	background: #4d463e;
}

input[type="password"] {
	width: 93%;
	padding: 5px;
	background: #403933;
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: #757575;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

input[type="password"]:focus {
	color: #b5b3b4;
	background: #4d463e;
}

input[type="submit"] {
	font-size: 12px;
	color: #cccccc;
	padding: 13px 20px;
	background: -moz-linear-gradient(
		top,
		#574d43 0%,
		#38332f);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#574d43),
		to(#38332f));
	border: none;
	border-radius: 3px;
	-moz-box-shadow:
		1px 1px 2px rgba(000,000,000,0.5),
		inset 0px 1px 0px rgba(138,133,128,0.3);
	-webkit-box-shadow:
		1px 1px 2px rgba(000,000,000,0.5),
		inset 0px 1px 0px rgba(138,133,128,0.3);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.5),
		0px 0px 0px rgba(255,255,255,0.9);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

input[type="submit"]:active {
	color: #f5b50c;
	background: -moz-linear-gradient(
		top,
		#38332f 0%,
		#574d43);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#38332f),
		to(#574d43));
}

#header {
	margin: 0 auto;
	width: 900px;
	padding-top: 50px;
}

#header .logo {
	text-align: center;
	margin-bottom: 30px;
}

#header .navigation {
	background: url('../images/navigation-bg.png');
	display: block;
	margin: 0 auto;
	width: 881px;
	height: 57px;
}

#header .navigation ul {
	font-size: 13px;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#header .navigation ul li {
	border-left: solid 1px #55504c;
	border-right: solid 1px #2b2623;
	float: left;
	position: relative;
}

#header .navigation ul li a {
	color: #8c8c8c;
	display: block;
	line-height: 3.333em;
	padding: 0 20px 6px 20px;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
	padding-top: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

#header .navigation ul li a:hover {
	background: url('../images/navigation-hover.png');
	padding-top: 5px;
	color: #f7b509;
}

#header .navigation ul li a.active {
	background: url('../images/navigation-hover.png');
	padding-top: 5px;
	color: #f7b509;
}

#body {
	margin: 0 auto;
	padding: 0;
	width: 900px;
}

#body .clear {
	clear: both;
}

#body .left {
	float: left;
	width: 260px;
	margin: 6px 7px 8px 9px;
}

#body .left .box {
	border-radius: 3px 3px 0px 0px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 7px;
}
#body .left .box .header {
	height: 28px;
	background: url('../images/left-header.png') no-repeat;
	padding: 12px 10px 0px 10px;
	color: #f7b509;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	text-transform: uppercase;
}
#body .left .box .pre-content {
	height: 4px;
	margin-top: -1px;
	background: url('../images/left-header-bottom.png');
}

#body .left .box .content {
	color: #a0a0a2;
	padding-left: 5px;
	font-size: 12px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	background: url('../images/left-content.png');
}

#body .left .box .content-navigation {
	font-size: 12px;
	background: url('../images/left-content.png');
}

#body .left .box .content-navigation ul{
	margin: 0px;
	padding: 0px;
}
#body .left .box .content-navigation ul li{
	border-top: solid 1px #4f4842;
	border-bottom: solid 1px #1f1b18;
	background: #403933;
	padding: 7px;
	list-style-type: none;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#body .left .box .content-navigation ul li:hover{
	background: #4d463e;
	padding-left: 15px;
}
#body .left .box .content-navigation ul li a{
	color: #a0a0a2;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	text-decoration: none;
}
#body .left .box .content-navigation ul li a:hover{
	color: #f5b50c;
}

#body .left .box .bottom {
	height:4px;
	background: url('../images/left-bottom.png');
}

#body .center {
	float: right;
	width: 610px;
	margin: 6px 14px 0px 0px;
}

#body .center #slider {
	height: 236px;
	padding: 6px 0px 0px 6px;
	background: url('../images/slider-bg.png') no-repeat;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 7px;
}

#body .center #slider #slider-dots {
	text-align: right;
	margin-top: 12px;
	margin-right: 12px;
}

#body .center #slider #slider-dots a {
	display: inline-block;
	margin-right: 3px;
	background: url('../images/slider/dots/dot-normal.png') no-repeat;
	background-position: right;
	height: 17px;
	width: 15px;
	text-decoration: none;
}

#body .center #slider #slider-dots a:hover {
	background: url('../images/slider/dots/dot-hover.png') no-repeat;
}

#body .center #slider #slider-dots a.activeSlide {
	background: url('../images/slider/dots/dot-active.png') no-repeat;
}

#body .center .box {
	border-radius: 3px 3px 0px 0px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 7px;
}

#body .center .box .header {
	height: 28px;
	background: url('../images/center-header.png') no-repeat;
	padding: 12px 10px 0px 10px;
	color: #f7b509;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	text-transform: uppercase;
}

#body .center .box .header span {
	float: left;
}

#body .center .box .header small a {
	color: rgba(0, 0, 0, 1);
	text-shadow: 1px 1px 0px rgba(177, 177, 177, 0.3);
	float: right;
}

#body .center .box .pre-content {
	height: 4px;
	margin-top: -1px;
	background: url('../images/center-header-bottom.png');
}

#body .center .box .content {
	color: #a0a0a2;
	padding-left: 5px;
	font-size: 12px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	background: url('../images/center-content.png');
}

#body .center .box .content .divider {
	height: 4px;
	width: 608px;
	margin-top: 4px;
	margin-left: -4px;
	background: url('../images/center-divider.png') no-repeat;
}

#body .center .box .bottom {
	height:4px;
	background: url('../images/center-bottom.png');
}

#comments {
	padding: 5px 5px 5px 5px;
}

#comments .comment {
	width: 500px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	margin-bottom: 7px;
}

#comments .comment a {
	color: #f5b50c;
}

#comments .left {
	margin: 0;
	float:left;
	width: 82px;
	text-align: center;
	padding: 4px 4px 4px 4px;
}

#comments .left img {
	border-radius: 3px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}

#comments .right {
	float:right;
	width: 400px;
	text-align: left;
	padding: 4px 4px 4px 4px;
}

.register-label {
	margin: 0 auto;
	width: 460px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
}

.register-label .title {
	color: #f5b50c;
}

.register-label .left {
	max-width: 200px;
	float: left;
	margin: 0;
}

.register-label .right {
	margin: 0;
	width: 230px;
	padding: 5px 5px;
	float: right;
}

.register-label .captcha {
	height: 21px;
	width: 81px;
	padding: 8px 5px 5px 35px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.4);
	background: url('../images/captcha-bg.large.png');
}

.register-label .tos {
	color: rgba(255, 255, 255, 0.3);
}

.register-label .do_register {
	margin-bottom: 5px;
}
.register-label label.label_check {
	cursor: pointer;
	padding-bottom: 1px;
}
.label_check input, .label_radio input {
	 margin-right: 5px; 
}
.has-js .label_check, .has-js .label_radio {
	padding-left: 20px;
}
.has-js .label_radio {
	background: url(radio-off.png) no-repeat;
}
.has-js label.r_on {
	background: url(radio-on.png) no-repeat;
}
.has-js .label_check {
	background: url('../images/checkbox.normal.png') no-repeat;
}
.has-js .label_check:hover {
	background: url('../images/checkbox.hover.png') no-repeat;
}
.has-js label.c_on {
	background: url('../images/checkbox.active.png') no-repeat;
}
.has-js label.c_on:hover {
	background: url('../images/checkbox.active.png') no-repeat;
}
.has-js .label_check input, .has-js .label_radio input {
	position: absolute;
	left: -9999px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}